body{
	background-image: url("../img/tsukue.png");
	background-size: 630px 350px; /* 机の大きさ */
	background-position: 410px 440px; /* 机の位置 */
	background-repeat: no-repeat;
}

#gomiarea{
	text-align: center;
}

#doa{
	/*position: relative;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 200px;
}

#desk{
	text-align: center;

}

.gomibako{
	width: 60px;
	height: 60px;
}

.gomi{
	width: 60px;
	height: 60px;
	border: 3px solid rgba(0,0,0,0);
}

td{
	width: 200px;
}
#setumei1{
	text-align: center;
	color: blue;
}

#setumei2{
	text-align: center;
	color: green;
}

#moji{
	margin-top: 250px;
	text-align: center;
	color: red;
}
